*{
    margin: 0;
}

body {  
    font-family: 'Red Hat Text';
    font-size: 14px;
    background: url(images/bg-stars.svg) center, hsl(235, 16%, 14%);
    height: 100%;
    background-size: cover;
}

.container {
    height: 900px;
    padding: 100px;
    text-align: center;
}

.bg-bottom img{
    position:absolute;
    width: auto;

}

.time, .title {
    text-transform: uppercase;
}

.title {
    font-size: 22px;
    letter-spacing: 5px;
    color: white;
}

.time {
    margin-top: 50px;
    color: hsl(237, 18%, 59%);
}

.icon {
    margin-top: 100px;
    padding: 20px;
}

.fab {
    padding: 15px;
    color: grey;
}

.fab:hover {
    cursor: pointer;
    color: hsl(345, 95%, 68%);
}


.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
    color: rgb(204, 192, 192);
}

.attribution a {
    color: hsl(237, 18%, 59%);
}